<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="zchaos Action Set"
            visible="true"
            id="com.zchaos.zplugins.core.actionSet">
         <menu
               label="zchaos"
               id="zchaosMenu">
            <separator
                  name="zchaosGroup">
            </separator>
         </menu>
         <action
               class="com.zchaos.zplugins.core.actions.SampleAction"
               icon="icons/sample.gif"
               id="com.zchaos.zplugins.core.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="zchaosMenu/zchaosGroup"
               style="pulldown"
               toolbarPath="zchaosGroup"
               tooltip="Zplugins">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.zchaos.zplugins.core.startup.DependenciesSortStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            defaultHandler="com.zchaos.zplugins.internal.qbookmark.QuickAddBookmarkCommandHandler"
            description="Quick Add Bookmark 1"
            id="org.zchaos.zplugins.bookmark.add1"
            name="Quick Add Bookmark 1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.zchaos.zplugins.bookmark.add1"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Fn+1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.zchaos.zplugins.perferences.PerferencesPage"
            id="zplugins.zchaos.perferences"
            name="zchaos">
      </page>
      <page
            category="zplugins.zchaos.perferences"
            class="com.zchaos.zplugins.perferences.PerferencesDetailPage"
            id="zplugins.zchaos.perferences.detail"
            name="zchaos.detail">
      </page>
   </extension>

</plugin>
